body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(50px, auto) repeat(5, 30px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 20px 10px 40px 10px;
    border: 3px solid tan;
    border-radius: 20px;
    background-color: dimgrey;
}

/* input */
.input-zone {
    grid-column: 1 /  span 4;
}

.input-screen {
    width: 218px;
    height: 40px;
    background-color: snow;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0px 10px 0px 0px;
    text-align: right;
    font-size: 15px;
}

.input-screen:hover, .input-screen:focus{
    outline: none;
    box-shadow: 0 0 10px 5px #464646;
}

/* buttons classic*/
.btn {
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: snow;
}

.btn:active {
    box-shadow: inset 0 0 5px black;
}

    /* buttons up and right */
    .btn:nth-child(2),
    .btn:nth-child(3),
    .btn:nth-child(4),
    .btn:nth-child(5),
    .btn:nth-child(9),
    .btn:nth-child(13),
    .btn:nth-child(17),
    .btn:nth-child(21) {
        background-color: #464646;
        color: white;
    }

    /* button = */
    .btn:nth-child(20) {
        background-color: tan;
    }